.main{
    margin-top: 2rem;
    margin-bottom: 2rem;
    
}

.list{
    
    box-shadow:5px 10px 18px #595959;
    border-radius: 5px;
    border-bottom: 1px solid grey;
    background-color: #e6e6e6;
    width: 30rem;
    text-align: left;
    margin-left: 5rem;
    height: 2rem;

}

.list:hover{
    background-color:#a6a6a6 ;
    font-weight: bold;
}

span{
    float: right;
    margin-right: 0.4rem;
}

